services:
  postgres:
    image: 'postgres:latest'
    container_name: postgres
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - 5434:5432
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"   # порт для приложений (AMQP)
      - "15672:15672" # web-интерфейс управления
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
